<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div class="post-content container">
      <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{% if page.date %}{{ page.date | date_to_string }},{% endif %} {{ page.content | number_of_words }} Words</span>
        <span class="post-tag">
          {% for tag in page.categories %}
          <i class="fa fa-tag">
            <a style="font-family: PT Sans; color:gray" href="{{ site.baseurl }}/{{ tag }}"> {{ tag }} </a>
          </i>
          {% endfor %}
        </span>
        <div class="post-content-body">
          {{ content }}
        </div>
      </div>

      <i class="fa fa-long-arrow-left">
        <a style="font-family: PT Sans; color:gray" href="{{ site.baseurl }}/"> home</a><br>
      </i>
      <br>
      {% for tag in page.categories %}
      <i class="fa fa-long-arrow-left">
        <a style="font-family: PT Sans; color:gray" href="{{ site.baseurl }}/{{ tag }}"> {{ tag }}</a>
      </i>
      <br>
      {% endfor %}
      <script src="https://giscus.app/client.js"
        data-repo="jaivigneshvenugopal/writings"
        data-repo-id="R_kgDOIKjtag"
        data-category="Comments"
        data-category-id="DIC_kwDOIKjtas4CoV2I"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </div>
  </body>
</html>