<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div class="post-content container">
      <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{{ page.date | date_to_string }}, {{ page.content | number_of_words }} Words</span>
        <span class="post-tag">
          {% for tag in page.categories %}
          <i class="fa fa-tag">
            <a style="font-family: PT Sans; color:gray" href="/{{ tag }}"> {{ tag }} </a>
          </i>
          {% endfor %}
        </span>
        {{ content }}
      </div>

      <i class="fa fa-long-arrow-left">
        <a style="font-family: PT Sans; color:gray" href="/"> home</a><br>
      </i>
      <br>
      {% for tag in page.categories %}
      <i class="fa fa-long-arrow-left">
        <a style="font-family: PT Sans; color:gray" href="/{{ tag }}"> {{ tag }}</a>
      </i>
      <br>
      {% endfor %}
    </div>
  </body>
</html>